<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
<meta name="author" content="lijiwei" />
<link rel="stylesheet" href="../css/jquery.fullPage.css">
<link rel="stylesheet" href="../css/index.css">
<script src="../js/jquery-2.2.3.min.js"></script>
<script src="../js/jquery.fullPage.min.js"></script>
<script src="../js/index.js"></script>
<!-- Date: 2016-05-18 -->
</head>
<body>
	<div id="dowebok">
		<div class="section">
			<div class='draw'>
				<ul id='draw_show'>
					<li><img src='../image/1.jpg'></li>
					<li><img src='../image/2.jpg'></li>
					<li><img src='../image/3.jpg'></li>
					<li><img src='../image/4.jpg'></li>
				</ul>
				<ul id='drop_down'>
					<li></li>
					<li></li>
				</ul>
			</div>
			<span id='last'></span> <span id='next'></span>
		</div>
		<div class="section"></div>
		<div class="section"></div>
		<div class="section"></div>
	</div>
</body>
</html>

